{% extends 'main/layout.html' %}
{% block title %}
Сайт тестирования студентов НТУ ХПИ
{% endblock %}
{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p style="text-indent:20px">
                            Здравствуйте, уважаемые будущие IT специалисты!
                            Сегодня вам предоставлена возможность пройти тестирование в нашем университете!
                            Один из самых частых вопросов студента: «достаточно ли у меня знаний программирования, чтобы
                            стать хорошим программистом».
                            Для того, чтобы помочь вам определиться с ответом на этот вопрос мы разработали тесты.
                            После прохождениятеста мы, основываясь на Ваших результатах, подведем итог и подскажем,
                            достаточный ли у вас опыт и если нет, то как его подтянуть.

                            Внимание! Тест только на достаточность знаний по определенной технологии. Всему остальному
                            мы научим.

                            Поехали! </p>

                        <p style="text-indent:20px">
                            В каждом тесте будет по 20 заданий. На каждое заание есть пару вариантов ответа
                            В некотоых заданиях будет два или больше правильных вариантов ответа.
                            Просим Вас быть внимательным при выборе. Не паникуйте, а получа1те удовольствие от
                            прохождения тестов.
                        </p>
    </div>

{% endblock %}